@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/violet.css";

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply overflow-x-hidden bg-background text-gray-300;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight text-white md:text-5xl md:leading-[1.1] lg:col-span-2 lg:text-[64px] lg:leading-[1.2] lg:tracking-[-0.0375em];
  }

  h2 {
    @apply scroll-m-20 text-4xl font-bold tracking-tight sm:text-5xl md:text-6xl;
  }

  p {
    @apply text-lg leading-snug lg:text-xl;
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-7xl px-4 md:px-6;
  }

  .marquee {
    animation: scroll-left 50s linear infinite;
    animation-direction: reverse;
    will-change: transform;
  }

  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 3rem));
    }
  }

  .card {
    padding: 8px 8px 0;
    border: 1px solid #333;
    transform: translateZ(0);
    position: relative;
    overflow: hidden;
    background: hsla(0, 0%, 0%, 0.4);
    width: 100%;
  }

  .card:after,
  .card:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    border-radius: inherit;
    background: radial-gradient(
      800px circle at calc(var(--x) * 1) calc(var(--y) * 1),
      hsla(0, 0%, 100%, 0.2),
      transparent 40%
    );
  }

  .avatar {
    position: relative;
    width: 100%;
    height: 270px;
  }

  .image {
    filter: grayscale(1);
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: transparent;
    object-fit: cover;
  }

  .image-blur {
    transform: scale(1.1) translateZ(0);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    filter: blur(32px) grayscale(1) saturate(200%);
    will-change: filter;
    pointer-events: none;
    object-fit: cover;
  }

  .image,
  .image-blur {
    transition: filter 0.4s ease;
  }

  .card:hover .image {
    filter: grayscale(0);
  }

  .card:hover .image-blur {
    filter: blur(32px) grayscale(0) saturate(200%);
  }

  .info {
    padding: 12px 8px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .name {
    font-size: 16px;
    font-weight: bold;
  }

  .info p {
    font-size: 11px;
  }

  .noise {
    background: url(/images/noise.png);
  }

  .text-gradient {
    background: linear-gradient(
      to right bottom,
      rgb(255, 255, 255) 30%,
      rgba(255, 255, 255, 0.38)
    );
    background-clip: text;
    color: transparent;
  }

  .bg-stripe-gradient {
    background-image: linear-gradient(
      6deg,
      transparent 25.60739517211914%,
      rgba(85, 238, 230, 0.15) 42.41046905517578%,
      rgba(0, 170, 240, 0.22) 52.1204948425293%,
      rgba(175, 141, 255, 0.23) 61.8046760559082%,
      transparent 75.95748901367188%
    );
  }

  .NavigationMenuRoot {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    z-index: 1;
  }

  .NavigationMenuList {
    display: flex;
    justify-content: center;
    padding: 4px;
    border-radius: 6px;
    list-style: none;
    margin: 0;
  }

  .NavigationMenuTrigger,
  .NavigationMenuLink {
    padding: 8px 12px;
    outline: none;
    user-select: none;
    font-weight: 500;
    line-height: 1;
    border-radius: 4px;
    @apply text-xs font-medium text-gray-300 xs:text-sm sm:text-base;
  }
  .NavigationMenuTrigger:focus,
  .NavigationMenuLink:focus {
    @apply shadow-xl;
  }
  .NavigationMenuTrigger:hover,
  .NavigationMenuLink:hover {
    @apply bg-gray-800;
  }

  .NavigationMenuTrigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
  }

  .NavigationMenuLink {
    display: block;
    text-decoration: none;
    font-size: 15px;
    line-height: 1;
  }

  .NavigationMenuContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation-duration: 250ms;
    animation-timing-function: ease;
  }
  .NavigationMenuContent[data-motion="from-start"] {
    animation-name: enterFromLeft;
  }
  .NavigationMenuContent[data-motion="from-end"] {
    animation-name: enterFromRight;
  }
  .NavigationMenuContent[data-motion="to-start"] {
    animation-name: exitToLeft;
  }
  .NavigationMenuContent[data-motion="to-end"] {
    animation-name: exitToRight;
  }
  @media only screen and (min-width: 600px) {
    .NavigationMenuContent {
      width: auto;
    }
  }

  .NavigationMenuIndicator {
    @apply z-50 mt-[8px] lg:mt-[14px];
    display: flex;
    justify-content: center;
    top: 100%;
    transition: width, transform 250ms ease;
  }
  .NavigationMenuIndicator[data-state="visible"] {
    animation: fadeIn 200ms ease;
  }
  .NavigationMenuIndicator[data-state="hidden"] {
    animation: fadeOut 200ms ease;
  }

  .NavigationMenuViewport {
    position: relative;
    transform-origin: top center;
    width: 100%;
    @apply z-40 mt-[15px] border border-gray-700 bg-gray-900 bg-opacity-95 lg:mt-[23px];
    border-radius: 6px;
    overflow: hidden;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
      hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    height: var(--radix-navigation-menu-viewport-height);
    transition: width, height, 300ms ease;
  }
  .NavigationMenuViewport[data-state="open"] {
    animation: scaleIn 200ms ease;
  }
  .NavigationMenuViewport[data-state="closed"] {
    animation: scaleOut 200ms ease;
  }
  @media only screen and (min-width: 600px) {
    .NavigationMenuViewport {
      width: var(--radix-navigation-menu-viewport-width);
    }
  }

  .List {
    display: grid;
    padding: 22px;
    margin: 0;
    column-gap: 10px;
    list-style: none;
  }
  @media only screen and (min-width: 600px) {
    .List.one {
      width: 500px;
      grid-template-columns: 0.75fr 1fr;
    }
    .List.two {
      width: 600px;
      grid-auto-flow: column;
      grid-template-rows: repeat(3, 1fr);
    }
  }

  .ListItemLink {
    display: block;
    outline: none;
    text-decoration: none;
    user-select: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 15px;
    line-height: 1;
  }
  .ListItemLink:focus {
    box-shadow: 0 0 0 2px var(--violet-7);
  }
  .ListItemLink:hover {
    @apply bg-gray-700;
  }

  .ListItemHeading {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 5px;
  }

  .ListItemText {
    line-height: 1.4;
    font-weight: initial;
  }

  .Callout {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      135deg,
      var(--purple-9) 0%,
      var(--indigo-9) 100%
    );
    border-radius: 6px;
    padding: 25px;
    text-decoration: none;
    outline: none;
    user-select: none;
  }
  .Callout:focus {
    box-shadow: 0 0 0 2px var(--violet-7);
  }

  .CalloutHeading {
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 16px;
    margin-bottom: 7px;
  }

  .CalloutText {
    font-size: 14px;
    line-height: 1.3;
  }

  .ViewportPosition {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 100%;
    left: 0;
    perspective: 2000px;
  }

  .CaretDown {
    position: relative;
    top: 1px;
    transition: transform 250ms ease;
  }
  [data-state="open"] > .CaretDown {
    transform: rotate(-180deg);
  }

  .Arrow {
    position: relative;
    top: 0;
    @apply h-[14px] w-[14px] rounded-tl-sm border-l border-t border-gray-700 bg-gray-900 bg-opacity-95 sm:h-4 sm:w-4 sm:rounded-tl-[3px] md:rounded-tl-[4px] lg:h-5 lg:w-5 lg:rounded-tl-md;
    transform: rotate(45deg);
  }

  @keyframes enterFromRight {
    from {
      opacity: 0;
      transform: translateX(200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes enterFromLeft {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes exitToRight {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(200px);
    }
  }

  @keyframes exitToLeft {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-200px);
    }
  }

  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: rotateX(-30deg) scale(0.9);
    }
    to {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
  }

  @keyframes scaleOut {
    from {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
    to {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.95);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
