@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-100;
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-7xl px-4 md:px-6;
  }
  .marquee {
    animation: scroll-left 50s linear infinite;
    animation-direction: reverse;
  }
  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 2rem));
    }
  }
}
