# GitHub actions workflow to deploy to OCF on push and every 30 minutes

name: Deploy

on:
  push:
    branches:
      - main
  schedule:
    - cron: "*/30 * * * *"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: pnpm

      - name: Install node dependencies
        run: pnpm install

      - name: Build site
        run: pnpm run build

      - name: Deploy to OCF
        uses: burnett01/rsync-deployments@7.0.1
        with:
          switches: -avPh --delete
          path: out/
          remote_path: ~/public_html/
          remote_host: ssh.ocf.berkeley.edu
          remote_user: aieb
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}
